/* Forms */
.form-group {
  position: relative;
  overflow: hidden;
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  textarea {
    display: block;
    margin: 0 1rem 1rem 1rem;
    padding-bottom: 0.2rem;
    width: 85%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    font-size: 1rem;
    color: var(--dark-color);
    &:focus {
      outline: none;
      background-color: var(--secondary-color);
      border-bottom-color: var(--stroke-color);
    }
  }
  input[type='submit'],
  button {
    font: inherit;
  }
  label {
    position: absolute;
    left: 1rem;
    z-index: -1;
  }
}
