@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Variables */
:root {
  --main-fonts: 'Noto Sans', sans-serif;
  --icon-fonts: FontAwesome, sans-serif;
  --bg-color: var(--primary-color);
  --bg-gradient: linear-gradient(to right, var(--primary-color), #f1ecf0);
  --primary-color: #fffffe;
  --secondary-color: #90b4ce;
  --tertiary-color: #ef4565;
  --high-light-color: #3da9fc;
  --stroke-color: #094067;
  --dark-color: #5f6c7b;
  --list-bg-color: #eee;
}

/* Basic styles */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
  font-family: var(--main-fonts);
  font-size: 1rem;
  color: var(--dark-color);
  line-height: 1.6;
}

a {
  color: var(--high-light-color);
  text-decoration: none;
}

a:hover {
  color: var(--dark-color);
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Utilities */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Padding */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.px {
  padding: 0 0.5rem;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.mx {
  margin: 0 0.5rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

/* list */
.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon-list-item {
  padding: 20px;
  background-color: var(--list-bg-color);
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.pokemon-list-item .img-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.pokemon-list-item .img-container:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  text-align: center;
}

.pokemon-list-item .img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%;
  max-width: 150px;
  max-height: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pokemon-list-item .overview {
  margin-top: 20px;
}

.pokemon-list-item .number {
  display: inline-block;
  padding: 2px;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 0.3rem;
}

.pokemon-list-item .name {
  margin-top: 3px;
  color: var(--stroke-color);
  letter-spacing: 0.0625rem;
}

.pokemon-list-item .species {
  margin-top: 3px;
  font-size: 0.8rem;
}

.pokemon-list-item .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  padding: 0 5px;
  text-align: center;
}

.pokemon-list-item .type span {
  display: inline-block;
  margin: 0 0.1rem;
  padding: 2px;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 0.3rem;
}

/* Navbar */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding: 0.7rem 2rem;
  width: 100%;
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
  z-index: 100;
}

.navbar h1 {
  letter-spacing: 0.1875rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  margin: 0 0.25rem;
  padding: 0.45rem;
  color: #fff;
}

.navbar a:hover {
  color: var(--dark-color);
}

@media (max-width: 700px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

/* Forms */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
textarea {
  display: block;
  padding-bottom: 0.2rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  font-size: 1rem;
  color: var(--dark-color);
}

input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='date']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: var(--icon-fonts);
  color: var(--primary-color);
}

input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='date']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: var(--icon-fonts);
  color: var(--primary-color);
}

input[type='text']::-ms-input-placeholder,
input[type='email']::-ms-input-placeholder,
input[type='password']::-ms-input-placeholder,
input[type='date']::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: var(--icon-fonts);
  color: var(--primary-color);
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='date']::placeholder,
textarea::placeholder {
  font-family: var(--icon-fonts);
  color: var(--primary-color);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='date']:focus,
textarea:focus {
  outline: none;
  border-bottom-color: var(--stroke-color);
}

input[type='text']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='date']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: var(--dark-color);
}

input[type='text']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='date']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: var(--dark-color);
}

input[type='text']:focus::-ms-input-placeholder,
input[type='email']:focus::-ms-input-placeholder,
input[type='password']:focus::-ms-input-placeholder,
input[type='date']:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  color: var(--dark-color);
}

input[type='text']:focus::placeholder,
input[type='email']:focus::placeholder,
input[type='password']:focus::placeholder,
input[type='date']:focus::placeholder,
textarea:focus::placeholder {
  color: var(--dark-color);
}

input[type='submit'],
button {
  font: inherit;
}

/* Loading spinner */
.loading {
  display: block;
  max-width: 50px;
  -webkit-animation: rotate 1.5s ease infinite;
          animation: rotate 1.5s ease infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
